// footer {
//     width: 100%;
//     height: 300px;
//     background-color: $cinzaEscuro;
//     bottom: 0;
//     margin: 0;
//     padding: 0;
//     position: relative;
//     border-top: 2px solid #FFF;

//     +below($tablet) {
//         height: 250px;
//     }

//     +mobile() {
//         height: auto;
//     }

//     .center {
//         height: calc('100% - 40px');
//         padding: 30px 0;
//         display: flex;
//         align-items: flex-start;
//         justify-content: flex-start;

//         +below($tablet) {
//             height: calc('100% - 30px');
//             justify-content: space-between;
//         }

//         +mobile() {
//             flex-wrap: wrap;
//         }

//         .vagas-areas {
//             display: flex;
//             flex-direction: column;
//             align-items: flex-start;

//             +below($tablet) {
//                 width: 20%;
//             }

//             +mobile() {
//                 width: 45%;
//             }

//             .link-vagas, .link-area {
//                 width: 200px;
//                 height: 40px;
//                 border: 1px solid $bordaCinza;
//                 padding: 0;
//                 margin: 0 0 3px 0;
//                 opensans(14, bold);
//                 color: #FFF;
//                 text-transform: uppercase;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 transition: background 0.5s ease-in-out;

//                 +below($tablet) {
//                     width: 100%;
//                     height: 30px;
//                     font-size: 12px;
//                 }

//                 +mobile() {
//                     height: 25px;
//                     font-size: 10px;
//                 }

//                 &:hover, &.active {
//                     background: $verdeServ;
//                 }
//             }
//         }

//         .marcas {
//             margin: 10px 70px 10px 90px;
//             display: flex;
//             flex-direction: column;
//             align-items: flex-end;

//             +below($tablet) {
//                 margin: 0;
//                 width: 20%;
//             }

//             +mobile() {
//                 width: 45%;
//             }

//             .link-home {
//                 .img-logo {
//                     max-width: 230px;

//                     +below($tablet) {
//                         max-width: 100%;
//                     }
//                 }
//             }

//             .link-edc-group {
//                 width: 225px;
//                 height: 70px;
//                 border: 1px solid $bordaCinza;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 margin-top: 30px;
//                 transition: background 0.5s ease-in-out;

//                 +below($tablet) {
//                     width: 100%;
//                     height: 60px;
//                 }

//                 +mobile() {
//                     margin-top: 15px;
//                     height: 45px;
//                 }

//                 .frase {
//                     width: 50%;
//                     opensans(12, bold);
//                     color: #FFF;
//                     font-style: italic;
//                     word-break: break-all;
//                     margin: 0;
//                     padding-right: 15px;

//                     +below($tablet) {
//                         font-size: 10px;
//                     }

//                     +mobile() {
//                         width: 60%;
//                         font-size: 8px;
//                         padding-right: 10px;
//                     }
//                 }

//                 .img-edc-group {
//                     max-width: 40px;
//                 }

//                 &:hover {
//                     background-color: $verdeServ;
//                 }
//             }

//             .link-home {
//                 transition: all 0.3s ease-in-out;

//                 &:hover {
//                     opacity: 0.6;
//                     transform: scale(1.05);
//                 }
//             }
//         }

//         .contatos {
//             +below($tablet) {
//                 width: 20%;
//             }

//             +mobile() {
//                 width: 45%;
//             }

//             .redes-sociais {
//                 display: flex;
//                 flex-direction: row;
//                 align-items: center;
//                 padding: 0;
//                 margin-top: 30px;

//                 +below($tablet) {
//                     margin-top: 20px;
//                 }

//                 .instagram, .facebook, .linkedin {
//                     padding: 0 5px;
//                     transition: 0.2s;

//                     img {
//                         transition: transform 0.3s;
//                     }

//                     &:hover {
//                         background: transparent;

//                         img {
//                             transform: rotate(360deg) scale(1.3);
//                         }
//                     }
//                 }
//             }

//             .informacoes {
//                 display: flex;
//                 flex-direction: column;
//                 align-items: flex-start;
//                 margin: 30px 0 20px 0;

//                 +below($tablet) {
//                     margin: 20px 0 15px 0;
//                 }

//                 +mobile() {
//                     margin: 15px 0;
//                 }

//                 .link-telefone, .link-email {
//                     opensans(16, medium);
//                     color: #FFF;
//                     margin: 0;
//                     line-height: 1.3;
//                     transition: 0.3s ease;

//                     +below($tablet) {
//                         font-size: 14px;
//                     }

//                     +mobile() {
//                         font-size: 12px;
//                     }

//                     &:hover {
//                         color: $verdeServ;
//                     }
//                 }
//             }

//             .endereco {
//                 opensans(12, bold);
//                 color: #FFF;
//                 margin: 0;
//                 white-space: nowrap;

//                 +below($tablet) {
//                     font-size: 10px;
//                 }

//                 +mobile() {
//                     font-size: 8px;
//                 }
//             }
//         }

//         .nav-footer {
//             display: flex;
//             flex-direction: column;
//             align-items: flex-start;
//             margin: 0 70px 0 auto;

//             +below($tablet) {
//                 width: 20%;
//                 margin: 0;
//             }

//             +mobile() {
//                 width: 45%;
//                 margin: 20px 0 0 0;
//             }

//             .link-footer {
//                 opensans(16, medium);
//                 color: #FFF;
//                 text-transform: uppercase;
//                 margin: 0 0 10px 0;
//                 line-height: 1.3;
//                 transition: 0.3s ease;

//                 +below($tablet) {
//                     font-size: 14px;
//                     margin: 0 0 5px 0;
//                 }

//                 +mobile() {
//                     font-size: 12px;
//                 }

//                 span {
//                     font-size: 12px;
//                     color: $verdeServ;
//                     margin-right: 5px;

//                     +mobile() {
//                         font-size: 10px;
//                     }
//                 }

//                 &:hover, &.active {
//                     color: $verdeServ;
//                 }
//             }

//             .link-termos, .link-politica {
//                 opensans(12, medium);
//                 color: #FFF;
//                 line-height: 1.3;
//                 margin: 0;
//                 transition: 0.3s ease;

//                 +below($tablet) {
//                     font-size: 10px;
//                 }

//                 &:hover {
//                     color: $verdeServ;
//                 }
//             }

//             .link-termos {
//                 margin: 10px 0 2px 0;
//             }
//         }
//     }

//     .copyright {
//         width: 100%;
//         height: 40px;
//         border-top: 2px solid $bordaCinza;
//         display: flex;
//         align-items: center;
//         justify-content: center;

//         +below($tablet) {
//             height: 30px;
//         }

//         +mobile() {
//             height: 40px;
//             flex-wrap: wrap;
//         }

//         .direitos, .link-trupe, span {
//             opensans(10);
//             color: $bordaCinza;
//             margin: 0;
//             line-height: 1;

//             +below($tablet) {
//                 font-size: 9px;
//             }

//             +mobile() {
//                 width: 100%;
//                 text-align: center;
//             }
//         }

//         span {
//             margin: 0 5px;

//             +mobile() {
//                 display: none;
//             }
//         }

//         .link-trupe {
//             transition: 0.3s ease;

//             +mobile() {
//                 width: auto;
//                 margin: 0 2px;
//             }

//             &:hover {
//                 color: #FFF;
//             }
//         }
//     }
// }

footer {
    width: 100%;
    height: auto;
    background-color: $cinzaEscuro;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: relative;

    .newsletter {
        width: 100%;
        height: 100px;
        background-color: #7B7D7F;

        +mobile() {
            height: 180px;
        }

        .form-newsletter {
            width: 1200px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            flex-direction: column;

            +below($tablet) {
                width: 90%;
            }

            .row {
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                +mobile() {
                    flex-direction: column;
                    width: 100%;
                }

                h4.titulo {
                    montserrat: 16 bold;
                    text-transform: uppercase;
                    margin-right: 25px;
                    color: #FFF;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                        margin: 10px auto;
                    }
                }

                input[type=text], input[type=email] {
                    width: 300px;
                    height: 30px;
                    margin: 0 2.5px;
                    padding: 0 10px;
                    border: none;
                    outline: none;
                    opensans: 16;
                    color: #FFF;
                    background-color: #959799;

                    +below($tablet) {
                        font-size: 14px;
                        width: 230px;
                    }

                    +mobile() {
                        font-size: 12px;
                        width: 100%;
                        margin: 2.5px 0;
                    }

                    +placeholder() {
                        color: #FFF;
                        background-color: #959799;
                    }

                    &:hover, &:focus {
                        font-weight: 700;
                    }
                }

                .btn-newsletter {
                    width: 50px;
                    height: 30px;
                    margin: 0 2.5px;
                    border: none;
                    border-radius: 0;
                    opensans: 16;
                    color: #FFF;
                    background-color: #959799;
                    outline: none;
                    transition: 0.3s ease;

                    +below($tablet) {
                        font-size: 14px;
                        width: 40px;
                    }

                    +mobile() {
                        font-size: 16px;
                        width: 100%;
                        margin: 2.5px 0;
                    }

                    &:hover, &:focus {
                        color: #959799;
                        background-color: #FFF;
                    }
                }
            }

            .flash {
                margin-bottom: 10px;
            }
        }
    }

    .selos-footer {
        width: 100%;
        height: 140px;
        background-color: $texto;

        +mobile() {
            height: auto;
        }

        .center {
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            +below($tablet) {
                width: 90%;
            }

            +mobile() {
                width: 80%;
                flex-direction: column;
                align-items: flex-start;
                padding: 15px 0;
            }

            .selo-iso, .selo-slac {
                margin: 0 35px;
                display: flex;
                align-items: center;

                +mobile() {
                    margin: 10px 0;
                }

                > img {
                    +mobile() {
                        width: 60px;
                    }
                }

                .textos {
                    padding: 10px;
                    opensans: 10;
                    color: #FFF;

                    > p {
                        margin: 0;
                    }
                }
            }
        }
    }

    .linha-footer {
        margin: 0;
        color: #FFF;
    }

    .center {
        height: auto;
        padding: 30px 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        +below($tablet) {
            justify-content: space-between;
        }

        +mobile() {
            flex-wrap: wrap;
        }

        .vagas-areas {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            +below($tablet) {
                width: 20%;
            }

            +mobile() {
                width: 45%;
            }

            .link-vagas, .link-area {
                width: 200px;
                height: 40px;
                border: 1px solid $bordaCinza;
                padding: 0;
                margin: 0 0 3px 0;
                opensans(14, bold);
                color: #FFF;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background 0.5s ease-in-out;

                +below($tablet) {
                    width: 100%;
                    height: 30px;
                    font-size: 12px;
                }

                +mobile() {
                    height: 25px;
                    font-size: 10px;
                }

                &:hover, &.active {
                    background: $verdeServ;
                }
            }
        }

        .marcas {
            margin: 15px 70px 15px 90px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            +below($tablet) {
                margin: 0;
                width: 20%;
            }

            +mobile() {
                width: 45%;
            }

            .link-empresa {
                margin-bottom: 30px;
                transition: all 0.3s ease-in-out;

                +below($tablet) {
                    margin-bottom: 20px;
                }

                +mobile() {
                    margin-bottom: 10px;
                }

                .img-logo {
                    max-width: 240px;

                    +below($tablet) {
                        max-width: 100%;
                    }
                }

                &:hover {
                    opacity: 0.6;
                    transform: scale(1.05);
                }
            }
        }

        .contatos {
            +below($tablet) {
                width: 20%;
            }

            +mobile() {
                width: 45%;
            }

            .redes-sociais {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0;
                margin-top: 15px;

                +below($tablet) {
                    margin-top: 0;
                }

                +mobile() {
                    margin-top: 20px;
                }

                .link-home {
                    margin-right: 30px;
                    transition: all 0.3s ease-in-out;

                    +mobile() {
                        margin-right: 15px;
                    }

                    .img-logo {
                        max-width: 240px;

                        +below($tablet) {
                            max-width: 100%;
                        }

                        +mobile() {
                            max-height: 30px;
                        }
                    }

                    &:hover {
                        opacity: 0.6;
                        transform: scale(1.05);
                    }
                }

                .instagram, .facebook, .linkedin {
                    padding: 0 5px;
                    transition: 0.2s;

                    img {
                        transition: transform 0.3s;
                    }

                    &:hover {
                        background: transparent;

                        img {
                            transform: rotate(360deg) scale(1.3);
                        }
                    }
                }
            }

            .informacoes {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 20px 0 15px 0;

                +below($tablet) {
                    margin: 20px 0 15px 0;
                }

                +mobile() {
                    margin: 10px 0;
                }

                .link-telefone, .link-email {
                    opensans(16, medium);
                    color: #FFF;
                    margin: 0 0 5px 0;
                    line-height: 1.3;
                    transition: 0.3s ease;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }

                    &:hover {
                        color: $verdeServ;
                    }
                }
            }

            .endereco {
                opensans(12, bold);
                color: #FFF;
                margin: 0;
                white-space: nowrap;

                +below($tablet) {
                    font-size: 10px;
                }

                +mobile() {
                    display: none;
                }
            }
        }

        .nav-footer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 15px 70px 15px 2%;

            +below($tablet) {
                width: 20%;
                margin: 0;
            }

            +mobile() {
                width: 45%;
                margin: 20px 0 0 0;
            }

            .link-footer {
                montserrat(16, medium);
                color: #FFF;
                text-transform: uppercase;
                margin: 0 0 10px 0;
                line-height: 1.3;
                transition: 0.3s ease;

                +below($tablet) {
                    font-size: 13px;
                    margin: 0 0 5px 0;
                }

                +mobile() {
                    font-size: 11px;
                }

                span {
                    font-size: 12px;
                    color: $verdeServ;
                    margin-right: 5px;

                    +mobile() {
                        font-size: 10px;
                    }
                }

                &:hover, &.active {
                    color: $verdeServ;
                }
            }

            .link-termos, .link-politica {
                opensans(12, medium);
                color: #FFF;
                line-height: 1.3;
                margin: 0;
                transition: 0.3s ease;

                +below($tablet) {
                    font-size: 10px;
                }

                &:hover {
                    color: $verdeServ;
                }
            }

            .link-termos {
                margin: 10px 0 2px 0;
            }
        }
    }

    .copyright {
        width: 100%;
        height: 40px;
        border-top: 2px solid $bordaCinza;
        display: flex;
        align-items: center;
        justify-content: center;

        +below($tablet) {
            height: 30px;
        }

        +mobile() {
            height: 40px;
            flex-wrap: wrap;
        }

        .direitos, .link-trupe, span {
            opensans(10);
            color: $bordaCinza;
            margin: 0;
            line-height: 1;

            +below($tablet) {
                font-size: 9px;
            }

            +mobile() {
                width: 100%;
                text-align: center;
            }
        }

        span {
            margin: 0 5px;

            +mobile() {
                display: none;
            }
        }

        .link-trupe {
            transition: 0.3s ease;

            +mobile() {
                width: auto;
                margin: 0 2px;
            }

            &:hover {
                color: #FFF;
            }
        }
    }
}

.frase {
    width: 100%;
    opensans(12, bold);
    color: #FFF;
    font-style: italic;
    word-break: break-all;
    margin: 0;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;

    +below($tablet) {
        font-size: 10px;
    }

    +mobile() {
        width: 60%;
        font-size: 8px;
        padding-right: 10px;
    }
}