main.categorias {
    width: 100%;
    height: auto;
    position: relative;

    section.categoria {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;

        +mobile() {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        .sobre {
            width: calc('(100% - 1200px) / 2 + 420px');
            background-color: $verdeEng;
            position: relative;

            +below($tablet) {
                width: 35%;
            }

            +mobile() {
                width: 90%;
            }

            .img-marcador {
                position: absolute;
                top: 60px;
                right: -10px;

                +below($tablet) {
                    top: 30px;
                }
            }

            .textos {
                width: 420px;
                padding: 50px 50px 50px 0;
                margin: 0 0 0 auto;

                +below($tablet) {
                    width: 85%;
                    padding: 30px 30px 30px 0;
                }

                +mobile() {
                    width: 100%;
                    padding: 30px;
                }

                .titulo-categoria {
                    montserrat(28, medium);
                    color: #FFF;
                    margin: 0 0 20px 0;
                    line-height: 1.4;

                    +below($tablet) {
                        font-size: 22px;
                        margin: 0 0 15px 0;
                    }

                    +mobile() {
                        font-size: 20px;
                    }
                }

                .texto-categoria {
                    opensans(16);
                    color: #FFF;
                    margin: 0;

                    +below($tablet) {
                        font-size: 13px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }

                    > p {
                        margin: 0 0 20px 0;

                        +below($tablet) {
                            margin: 0 0 15px 0;
                        }
                    }
                }
            }
        }

        .servicos {
            width: calc('1200px - 420px');
            padding-left: 60px;
            margin: 0 calc('(100% - 1200px) / 2') 0 0;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;

            +below($tablet) {
                width: 60%;
                margin: 0 5% 0 0;
                padding-left: 50px;
            }

            +mobile() {
                width: 90%;
                margin: 40px auto 0 auto;
                padding: 0;
            }

            .link-servico {
                width: calc('(100% - 20px) / 2');
                height: 265px;
                border: 1px solid $verdeEng;
                background-color: #FFF;
                padding: 5px 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                margin: 0 20px 20px 0;
                transition: background 0.5s ease-in-out;

                +below($tablet) {
                    width: calc('(100% - 15px) / 2');
                    height: 220px;
                    margin: 0 15px 15px 0;
                }

                +mobile() {
                    width: 100%;
                    margin: 0 0 15px 0;
                }

                .img-capa {
                    width: 100%;
                    height: 115px;
                    object-fit: cover;

                    +below($tablet) {
                        height: 100px;
                    }
                }

                .categoria {
                    montserrat(12, medium);
                    color: $verdeEng;
                    text-transform: uppercase;
                    margin: 20px 0 0 0;
                    transition: color 0.5s ease-in-out;

                    +below($tablet) {
                        font-size: 10px;
                        margin: 15px 0 0 0;
                    }
                }

                .linha-divisao {
                    width: 45px;
                    border: none;
                    border-bottom: 1px solid $verdeEng;
                    margin: 7px 0;
                    transition: border 0.5s ease-in-out;

                    +below($tablet) {
                        width: 15%;
                    }
                }

                .servico {
                    montserrat(24, extrabold);
                    color: $verdeEng;
                    text-align: center;
                    text-transform: uppercase;
                    line-height: 1.2;
                    margin: 0 20px;
                    transition: color 0.5s ease-in-out;

                    +below($tablet) {
                        font-size: 18px;
                    }
                }

                &:hover {
                    background-color: $verdeEng;

                    .categoria, .servico {
                        color: #FFF;
                    }

                    .linha-divisao {
                        border-bottom: 1px solid #FFF;
                    }
                }
            }
        }
    }

    section.vantagens {
        width: 100%;
        height: auto;
        background-color: $cinzaClaro;
        padding: 65px 0 50px 0;
        margin: 60px 0 80px 0;

        +below($tablet) {
            padding: 40px 0;
            margin: 40px 0;
        }

        h2.titulo-vantagens {
            montserrat(36, medium);
            color: $verdeEng;
            margin: 0;
            text-align: center;

            +below($tablet) {
                font-size: 24px;
            }

            +mobile() {
                font-size: 20px;
            }
        }

        .center {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding: 40px 0 0 0;

            +below($tablet) {
                padding: 30px 0 0 0;
            }

            +mobile() {
                flex-direction: column;
                align-items: center;
            }

            .vantagem {
                width: 280px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 45px;

                +below($tablet) {
                    width: 30%;
                    margin: 0 30px;
                }

                +mobile() {
                    width: 100%;
                    margin: 0 0 30px 0;
                }

                .img-vantagem {
                    width: auto;
                    height: auto;
                    object-fit: contain;

                    +below($tablet) {
                        width: 75px;
                    }
                }

                .titulo-vantagem {
                    montserrat(24, medium);
                    color: $verdeEng;
                    text-transform: uppercase;
                    line-height: 1;
                    margin: 20px 0;

                    +below($tablet) {
                        font-size: 18px;
                        margin: 15px 0;
                    }

                    +mobile() {
                        font-size: 14px;
                    }
                }

                .texto-vantagem {
                    opensans(16);
                    color: $cinzaEscuro;
                    text-align: center;
                    margin: 0;
                    padding: 0 10px;

                    +below($tablet) {
                        font-size: 13px;
                    }

                    +mobile() {
                        font-size: 12px;
                        padding: 0 10%;
                    }

                    > p {
                        line-height: 1.3;
                        margin: 0 0 20px 0;

                        +below($tablet) {
                            margin: 0 0 15px 0;
                        }
                    }
                }
            }
        }
    }
}