main.contrate {
    width: 100%;
    height: auto;
    position: relative;

    section.informacoes {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;

        +mobile() {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        .left {
            width: calc('(100% - 1200px) / 2 + 420px');
            height: auto;

            +below($tablet) {
                width: 35%;
            }

            +mobile() {
                width: 90%;
            }

            .contatos {
                width: 100%;
                height: auto;
                background-color: $verdeEng;
                position: relative;

                .titulo-pagina {
                    width: 420px;
                    height: 140px;
                    montserrat(28, medium);
                    color: #FFF;
                    margin: 0 0 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    +below($tablet) {
                        width: 85%;
                        height: 100px;
                        font-size: 22px;
                    }

                    +mobile() {
                        width: 90%;
                        height: 80px;
                        margin: 0 5%;
                        font-size: 18px;
                    }
                }

                .img-marcador {
                    position: absolute;
                    top: 60px;
                    right: -10px;

                    +below($tablet) {
                        top: 30px;
                    }
                }

                .dados {
                    width: 100%;
                    height: 325px;
                    padding: 45px 35px;
                    background-repeat: no-repeat;
                    background-position: 100%;
                    background-size: cover;
                    border-top: 0.5px solid rgba(255, 255, 255, 0.2);
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: flex-start;

                    +below($tablet) {
                        height: 220px;
                        padding: 30px;
                    }

                    +mobile() {
                        height: 190px;
                        padding: 30px 5%;
                    }

                    .link-telefone {
                        montserrat(20, bold);
                        color: #FFF;
                        margin: 0 0 5px 0;
                        transition: 0.3s ease;

                        +below($tablet) {
                            font-size: 16px;
                        }

                        +mobile() {
                            width: auto;
                            margin: 0 auto 0 0;
                            font-size: 14px;
                        }

                        &:hover {
                            color: $verdeServ;
                        }
                    }

                    .atendimento {
                        opensans(12);
                        color: #FFF;
                        font-style: italic;
                        margin: 0;

                        +below($tablet) {
                            font-size: 10px;
                        }

                        +mobile() {
                            width: auto;
                            margin: 0 auto 0 0;
                            white-space: pre-wrap;
                        }
                    }
                }
            }

            .edc-group {
                margin: 125px 95px 0 0;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                +below($tablet) {
                    margin: 60px 20px 0 0;
                }

                +mobile() {
                    width: 100%;
                    margin: 30px auto 0 0;
                }

                .endereco-completo {
                    margin-left: 20px;

                    +below($tablet) {
                        margin-left: 15px;
                    }

                    .endereco {
                        opensans(14);
                        color: $cinzaEscuro;
                        margin: 0;
                        line-height: 1.5;
                        white-space: nowrap;

                        +below($tablet) {
                            font-size: 12px;
                        }

                        +mobile() {
                            font-size: 10px;
                            white-space: pre-wrap;
                        }
                    }
                }
            }
        }

        .right {
            width: calc('1200px - 420px');
            margin: 0 calc('(100% - 1200px) / 2') 0 0;
            padding: 40px 0 0 60px;

            +below($tablet) {
                width: 60%;
                margin: 0 5% 0 0;
                padding: 20px 0 0 50px;
            }

            +mobile() {
                width: 90%;
                margin: 0 auto;
                padding: 20px 0;
            }

            .frase {
                opensans(16);
                color: $cinzaEscuro;
                margin: 30px 0;

                +below($tablet) {
                    font-size: 13px;
                    margin: 20px 0;
                }

                +mobile() {
                    font-size: 12px;
                    text-align: center;
                }
            }

            .form-contrate {
                width: 100%;
                height: auto;
                background-color: $verdeClaro;
                padding: 30px 40px 30px 30px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                +below($tablet) {
                    padding: 25px 30px 20px 20px;
                }

                +mobile() {
                    padding: 20px 15px;
                }

                input[type=text], input[type=email] {
                    width: 100%;
                    height: 35px;
                    outline: 0;
                    border: 0;
                    padding: 0 10px;
                    margin-bottom: 5px;
                    background-color: #FFF;
                    border: none;
                    border-radius: 0;
                    opensans(16);
                    color: $cinzaEscuro;
                    transition: 0.2s ease;

                    +below($tablet) {
                        height: 30px;
                        font-size: 13px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }

                    +placeholder() {
                        opensans(16);
                        color: $cinzaEscuro;
                        transition: 0.2s ease;

                        +below($tablet) {
                            font-size: 13px;
                        }

                        +mobile() {
                            font-size: 12px;
                        }
                    }

                    &:hover, &:focus {
                        font-weight: 600;

                        +placeholder() {
                            font-weight: 600;
                        }
                    }
                }

                textarea {
                    width: 100%;
                    height: 160px;
                    background-color: #FFF;
                    outline: 0;
                    border: 0;
                    padding: 10px;
                    resize: none;
                    margin: 0;
                    opensans(16);
                    color: $cinzaEscuro;
                    transition: 0.2s ease;

                    +below($tablet) {
                        height: 120px;
                        font-size: 13px;
                    }

                    +mobile() {
                        font-size: 12px;
                        height: 100px;
                    }

                    +placeholder() {
                        opensans(16);
                        color: $cinzaEscuro;
                        transition: 0.2s ease;

                        +below($tablet) {
                            font-size: 13px;
                        }
                    }

                    &:hover, &:focus {
                        font-weight: 600;

                        +placeholder() {
                            font-weight: 600;
                        }
                    }
                }

                button[type=submit] {
                    width: 90px;
                    height: 40px;
                    margin: 10px 10px 0 0;
                    outline: 0;
                    border: 1px solid $verdeEng;
                    cursor: pointer;
                    transform: skewX(-20deg);
                    background: $img('icone-enviar.svg') no-repeat center center transparent;
                    transition: background 0.5s ease-in-out;

                    +below($tablet) {
                        width: 80px;
                        height: 35px;
                        margin: 10px 10px 0 0;
                    }

                    &:hover {
                        background: $img('icone-enviar-branco.svg') no-repeat center center $verdeEng;
                    }
                }

                .flash {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    margin: 10px 0 0 0;
                    height: 40px;
                    width: 100%;
                    opensans(12);
                    color: #FFF;
                    padding: 10px;
                    border-radius: 0;
                    text-align: center;

                    +mobile() {
                        font-size: 10px;
                    }

                    &.flash-erro {
                        border: none;
                        background: $vermelhoError;
                        color: #fff;
                    }

                    &.flash-sucesso {
                        border: none;
                        background: $verdeSuccess;
                        color: #fff;
                    }
                }
            }
        }
    }

    section.mapa {
        width: 100%;
        height: 440px;
        margin: 40px 0 80px 0;

        +below($tablet) {
            height: 350px;
            margin: 40px 0 50px 0;
        }

        +mobile() {
            height: 250px;
            margin: 20px 0 40px 0;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.work_for_us
    margin-top: 30px
    background-color: #76c04d
    cursor: pointer
    &:hover 
        background-color: #606062
    h1
        margin: 0
        padding-top: 15px
        padding-left: 20px
        padding-right: 20px
        montserrat 18
        color: white
    p
        opensans 16
        padding-left: 20px
        padding-right: 20px
        padding-bottom: 15px
        color: white
        margin: 0
        margin-top: 5px