main.home {
    width: 100%;
    height: auto;
    position: relative;

    section.banner {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        +mobile() {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        .img-capa {
            width: 852px;
            height: auto;
            object-fit: contain;

            +below($tablet) {
                width: 60%;
            }

            +mobile() {
                width: 100%;
            }
        }

        .textos-banner {
            width: 500px;
            margin: 0 calc('(100% - 1200px) / 2') 0 0;
            padding: 75px 0 0 35px;
            position: relative;

            +below($tablet) {
                width: 30%;
                margin: 0 5% 0 0;
                padding: 30px 0 0 30px;
            }

            +mobile() {
                width: 100%;
                padding: 30px;
            }

            .frase1 {
                montserrat(24, extrabold);
                color: $verdeEng;
                margin: 0 30% 20px 0;
                line-height: 1.4;

                +below($tablet) {
                    font-size: 18px;
                    margin: 0 10% 20px 0;
                }

                +mobile() {
                    font-size: 16px;
                    margin: 0 0 20px 0;
                    text-align: center;
                }
            }

            .frase2, .frase3 {
                opensans(24);
                font-style: italic;
                color: $verdeEng;
                margin: 0 30% 0 0;
                line-height: 1.4;

                +below($tablet) {
                    font-size: 18px;
                    margin: 0 10% 0 0;
                }

                +mobile() {
                    font-size: 16px;
                    margin: 0;
                    text-align: center;
                }
            }

            .bg-frase-edc {
                transform: skewX(-20deg);

                .frase-edc {
                    position: absolute;
                    right: 0;
                    width: auto;
                    height: 55px;
                    border: 1px solid $cinzaEscuro;
                    background-color: $cinzaEscuro;
                    montserrat(18, extrabold);
                    color: #FFF;
                    margin: 35px 0 0 0;
                    padding: 0 30px;
                    display: flex;
                    align-items: center;
                    white-space: nowrap;
                    transition: 0.3s ease;

                    +below($tablet) {
                        font-size: 14px;
                        height: 40px;
                        font-weight: 600;
                        padding: 0 20px;
                    }

                    +mobile() {
                        position: relative;
                        height: auto;
                        padding: 5px 20px;
                        text-align: center;
                        white-space: pre-wrap;
                    }
                }
            }
        }
    }

    section.servicos {
        width: 85%;
        height: auto;
        margin: 65px auto 110px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;

        +below($tablet) {
            width: 95%;
            margin: 40px auto 80px auto;
        }

        +mobile() {
            margin: 20px auto 60px auto;
        }

        .link-servico {
            width: 33.33%;
            height: 265px;
            border: 1px solid $bordaCinza;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: $verdeEng;
            background-blend-mode: multiply;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 5% 5% 20px 5%;
            transition: background 0.5s ease-in-out;

            +below($tablet) {
                width: 50%;
                height: 230px;
            }

            +mobile() {
                width: 100%;
                height: 160px;
                padding: 10% 5% 20px 5%;
            }

            .categoria {
                montserrat(16, medium);
                color: #FFF;
                text-transform: uppercase;
                margin: 0;

                +below($tablet) {
                    font-size: 14px;
                }

                +mobile() {
                    font-size: 12px;
                }
            }

            .linha-divisao {
                width: 90px;
                border: none;
                border-bottom: 1px solid #fff;
                margin: 6px 0 12px 0;

                +below($tablet) {
                    margin: 10px 0 15px 0;
                }

                +mobile() {
                    margin: 5px 0 10px 0;
                }
            }

            .servico {
                montserrat(32, extrabold);
                color: #FFF;
                text-transform: uppercase;
                text-align: center;
                line-height: 1.2;
                margin: 0;

                +below($tablet) {
                    font-size: 24px;
                }

                +mobile() {
                    font-size: 18px;
                }
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.7);
            }
        }
    }

    section.contratar {
        width: 100%;
        height: auto;
        background-color: $cinzaClaro;
        padding: 65px 0 50px 0;

        +below($tablet) {
            padding: 40px 0;
        }

        h2.titulo-verde {
            montserrat(28, light);
            color: $verdeServ;
            margin: 0;
            text-align: center;

            > span {
                font-weight: 600;
            }

            +below($tablet) {
                font-size: 24px;
            }

            +mobile() {
                font-size: 20px;
            }
        }

        .motivos {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding: 40px 0;
            border-bottom: 1px solid $verdeServ;

            +mobile() {
                flex-direction: column;
                align-items: center;
                padding: 30px 0;
            }

            .motivo {
                width: 220px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 50px;

                +below($tablet) {
                    width: 30%;
                    margin: 0 30px;
                }

                +mobile() {
                    width: 100%;
                    margin: 0 0 30px 0;
                }

                .img-motivo {
                    width: auto;
                    height: auto;
                    object-fit: contain;
                    margin-bottom: 30px;

                    +mobile() {
                        margin-bottom: 15px;
                    }
                }

                .frase-motivo {
                    opensans(16);
                    color: $cinzaEscuro;
                    text-align: center;
                    margin: 0;
                    padding: 0 10px;
                    line-height: 1.4;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                        padding: 0 10%;
                    }
                }
            }
        }

        .informacoes {
            width: 100%;
            margin: 40px 0 0 0;
            display: flex;
            align-items: center;
            justify-content: center;

            +below($tablet) {
                margin: 30px 0 0 0;
            }

            +mobile() {
                flex-direction: column;
            }

            .img-selo, .img-edc-slogan {
                width: auto;
                height: auto;
                object-fit: contain;
                margin: 0 25px;

                +below($tablet) {
                    max-width: 25%;
                    margin: 0 15px;
                }

                +mobile() {
                    max-width: 70%;
                    margin: 0 0 15px 0;
                }
            }

            .frase-selo {
                width: 260px;
                height: auto;
                opensans(12, bold);
                color: $verdeServ;
                font-style: italic;
                margin: 0 25px;
                line-height: 1.4;

                +below($tablet) {
                    width: 22%;
                    font-size: 10px;
                    margin: 0 15px;
                }

                +mobile() {
                    width: 100%;
                    margin: 0 0 15px 0;
                }
            }

            .sobre-edc {
                margin: 0 25px;

                +below($tablet) {
                    margin: 0 15px;
                }

                +mobile() {
                    margin: 0;
                }

                .itens-edc {
                    opensans(12, bold);
                    color: $verdeServ;
                    font-style: italic;
                    margin: 0 0 5px 0;

                    +below($tablet) {
                        font-size: 10px;
                    }
                }

                div {
                    transform: skewX(-20deg);

                    .link-edc {
                        padding: 5px 30px;
                        border: 1px solid $verdeServ;
                        opensans(12, bold);
                        color: $verdeServ;
                        font-style: italic;
                        transition: 0.3s ease;

                        +below($tablet) {
                            padding: 5px 25px;
                            font-size: 10px;
                        }

                        &:hover {
                            background-color: $verdeServ;
                            color: #FFF;
                        }
                    }
                }
            }
        }
    }

    section.parcerias {
        width: 100%;
        padding: 60px 0;

        +mobile() {
            padding: 40px 0;
        }

        h2.titulo-verde {
            montserrat(28, light);
            color: $verdeServ;
            margin: 0;
            text-align: center;

            +below($tablet) {
                font-size: 24px;
            }

            +mobile() {
                font-size: 20px;
            }
        }

        .center {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;

            +below($tablet) {
                margin-top: 30px;
            }

            +mobile() {
                flex-direction: column;
                margin-top: 10px;
            }

            .parceria {
                width: 300px;
                height: 270px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                border: 1px solid #E4E9E1;
                padding: 45px 25px;
                margin: 0 10px;
                position: relative;

                +below($tablet) {
                    width: 30%;
                    height: 230px;
                    padding: 30px 20px;
                }

                +mobile() {
                    width: 90%;
                    height: 200px;
                    margin: 10px auto;
                }

                .img-parceria {
                    width: auto;
                    height: 55px;
                    object-fit: contain;

                    +below($tablet) {
                        max-width: 100%;
                        max-height: 50px;
                    }
                }

                .nome-parceria {
                    opensans(16, bold);
                    color: $cinzaEscuro;
                    text-align: center;
                    line-height: 1.4;
                    margin: 45px 0 0 0;

                    +below($tablet) {
                        font-size: 14px;
                        margin-top: 30px;
                    }

                    +mobile() {
                        margin-top: 25px;
                    }
                }

                .frase-parceria {
                    opensans(16);
                    color: $cinzaEscuro;
                    text-align: center;
                    line-height: 1.4;
                    margin: 0;

                    +below($tablet) {
                        font-size: 14px;
                    }
                }

                .link-parceria {
                    width: 135px;
                    height: 20px;
                    position: absolute;
                    bottom: -10px;
                    left: calc('(100% - 135px) / 2');
                    border: none;
                    border-radius: 10px;
                    opensans(12);
                    color: #FFF;
                    display: flex;
                    align-items: center;
                    padding: 0 10px 0 25px;
                    background: $img('icone-website.svg') no-repeat 8px / 13px #D7DED2;
                    transition: background 0.5s ease-in-out;

                    +below($tablet) {
                        font-size: 10px;
                    }

                    &:hover {
                        background-color: $cinzaEscuro;
                    }
                }
            }
        }
    }

    section.vagas {
        width: 100%;
        height: 300px;
        margin: 10px 0 80px 0;
        background-color: #A9ABAE;
        padding: 10px 0;

        +below($tablet) {
            height: 250px;
            margin: 10px 0 40px 0;
        }

        +mobile() {
            height: auto;
        }

        .center {
            display: flex;
            align-items: center;
            justify-content: center;

            +mobile() {
                flex-direction: column;
            }

            .img-vagas {
                width: 600px;
                height: 280px;
                object-fit: cover;

                +below($tablet) {
                    width: 50%;
                    height: 230px;
                }

                +mobile() {
                    width: 100%;
                    height: auto;
                }
            }

            .sobre-vagas {
                padding: 0 90px;

                +below($tablet) {
                    padding: 0 90px 0 50px;
                }

                +mobile() {
                    padding: 15px;
                }

                .titulo-vagas {
                    montserrat(36, bold);
                    color: #FFF;
                    margin: 0 0 10px 0;

                    +below($tablet) {
                        font-size: 28px;
                    }

                    +mobile() {
                        font-size: 24px;
                        text-align: center;
                    }

                    .img-seta {
                        width: auto;
                        height: auto;

                        +below($tablet) {
                            width: 22px;
                        }
                    }
                }

                .frase-vagas {
                    opensans(16);
                    color: #FFF;
                    line-height: 1.4;
                    margin: 0;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                        text-align: center;
                    }
                }

                div {
                    transform: skewX(-20deg);
                    margin: 25px 0 0 0;

                    +mobile() {
                        margin: 20px 0 0 0;
                        text-align: center;
                    }

                    .link-vagas {
                        padding: 10px 30px;
                        border: 1px solid #FFF;
                        opensans(14, bold);
                        color: #FFF;
                        font-style: italic;
                        transition: 0.3s ease;

                        +mobile() {
                            padding: 5px 20px;
                            font-size: 12px;
                        }

                        &:hover {
                            background-color: $cinzaEscuro;
                        }
                    }
                }
            }
        }
    }

    section.grupo-edc {
        width: 100%;
        height: auto;
        padding: 65px 0 85px 0;
        background-color: $cinzaEscuro;
        position: relative;

        +below($tablet) {
            padding: 60px 0;
        }

        +mobile() {
            padding: 40px 0;
        }

        .frase-grupo {
            opensans(14);
            color: #FFF;
            text-align: center;
            letter-spacing: 5px;
            margin: 0;

            +below($tablet) {
                font-size: 12px;
            }

            +mobile() {
                letter-spacing: 3px;
            }
        }

        .grupo {
            width: 100%;
            height: 270px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            position: relative;

            +below($tablet) {
                height: 210px;
            }

            +mobile() {
                height: auto;
                flex-direction: column;
            }

            .edc-servicos, .edc-engenharia, .edc-uni {
                width: calc('(100% - 20px) / 3');
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 30px;
                position: relative;

                +below($tablet) {
                    padding: 20px;
                }

                +mobile() {
                    width: 100%;
                    height: auto;
                    margin-bottom: 20px;
                }

                .img-logo {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    object-fit: contain;

                    +below($tablet) {
                        max-width: 80%;
                        max-height: 45px;
                    }

                    +mobile() {
                        max-width: 70%;
                    }
                }

                .servicos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 40px;
                    opensans(16, bold);
                    color: #FFF;
                    position: relative;

                    +below($tablet) {
                        margin-top: 20px;
                        font-size: 12px;
                    }

                    > p {
                        margin: 0 0 15px 0;
                    }

                    .linha-divisao {
                        width: 165px;
                        border: none;
                        border-bottom: 1px solid #FFF;
                        margin: 0;
                        position: absolute;

                        +below($tablet) {
                            width: 50%;
                        }

                        &.l1 {
                            top: 30px;

                            +below($tablet) {
                                top: 25px;
                            }
                        }

                        &.l2 {
                            top: 70px;

                            +below($tablet) {
                                top: 60px;
                            }
                        }
                    }
                }

                .link-servicos, .link-engenharia, .link-uni {
                    width: 150px;
                    height: 20px;
                    position: absolute;
                    bottom: -10px;
                    left: calc('(100% - 135px) / 2');
                    border: 1px solid #FFF;
                    border-radius: 10px;
                    opensans(12);
                    color: #FFF;
                    display: flex;
                    align-items: center;
                    padding: 0 10px 0 25px;
                    margin: 0;
                    background: $img('icone-website.svg') no-repeat 8px / 13px transparent;
                    transition: all 0.3s ease;

                    +below($tablet) {
                        font-size: 10px;
                    }
                }

                .link-servicos {
                    background-color: $verdeServ;
                }

                .link-engenharia {
                    background-color: $verdeEng;
                }

                .link-uni {
                    background-color: $verdeSmart;
                }

                &:hover {
                    .link-servicos {
                        color: $verdeServ;
                        border: 1px solid $verdeServ;
                        background: $img('icone-website-serv.svg') no-repeat 8px / 13px #FFF;
                    }

                    .link-engenharia {
                        color: $verdeEng;
                        border: 1px solid $verdeEng;
                        background: $img('icone-website-eng.svg') no-repeat 8px / 13px #FFF;
                    }

                    .link-uni {
                        color: $verdeSmart;
                        border: 1px solid $verdeSmart;
                        background: $img('icone-website-uni.svg') no-repeat 8px / 13px #FFF;
                    }
                }
            }

            .edc-servicos {
                background-color: $verdeServ;
            }

            .edc-engenharia {
                background-color: $verdeEng;
            }

            .edc-uni {
                background-color: $verdeSmart;
            }
        }
    }
}