main.servicos {
    width: 100%;
    height: auto;
    position: relative;

    section.servico {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;

        +mobile() {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        .left {
            width: calc('(100% - 1200px) / 2 + 420px');
            height: auto;

            +below($tablet) {
                width: 35%;
            }

            +mobile() {
                width: 90%;
            }

            .dados {
                width: 100%;
                height: auto;
                background-color: $verdeEng;
                position: relative;

                .img-marcador {
                    position: absolute;
                    top: 60px;
                    right: -10px;

                    +below($tablet) {
                        top: 30px;
                    }
                }

                .textos {
                    width: 420px;
                    padding: 30px 80px 50px 0;
                    margin: 0 0 0 auto;

                    +below($tablet) {
                        width: 85%;
                        padding: 30px 30px 30px 0;
                    }

                    +mobile() {
                        width: 100%;
                        padding: 30px;
                    }

                    .titulo-categoria {
                        montserrat(28, medium);
                        color: #FFF;
                        margin: 0;
                        line-height: 1.4;

                        +below($tablet) {
                            font-size: 22px;
                        }

                        +mobile() {
                            font-size: 20px;
                        }
                    }

                    .linha-titulos {
                        width: 45px;
                        border: none;
                        border-bottom: 1px solid #FFF;
                        margin: 20px auto 20px 0;

                        +below($tablet) {
                            width: 15%;
                            margin: 15px auto 15px 0;
                        }
                    }

                    .titulo-servico {
                        montserrat(36, extrabold);
                        color: #FFF;
                        text-transform: uppercase;
                        margin: 0;
                        line-height: 1.4;

                        +below($tablet) {
                            font-size: 24px;
                        }

                        +mobile() {
                            font-size: 22px;
                        }
                    }
                }
            }

            .imagem {
                width: 420px;
                height: auto;
                margin: 40px 0 0 auto;

                +below($tablet) {
                    width: 90%;
                    margin: 30px 0 0 auto;
                }

                +mobile() {
                    display: none;
                }

                .img-servico {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }

        .right {
            width: calc('1200px - 420px');
            margin: 0 calc('(100% - 1200px) / 2') 0 0;
            padding-left: 60px;

            +below($tablet) {
                width: 60%;
                margin: 0 5% 0 0;
                padding-left: 50px;
            }

            +mobile() {
                width: 90%;
                margin: 30px auto 0 auto;
                padding: 0;
            }

            .img-capa {
                width: 500px;
                height: auto;
                object-fit: cover;

                +below($tablet) {
                    width: 75%;
                }

                +mobile() {
                    width: 80%;
                    margin: 0 15% 0 5%;
                }
            }

            .texto {
                width: 100%;
                height: auto;
                padding: 30px 20% 0 0;
                opensans(16);
                color: $cinzaEscuro;

                +below($tablet) {
                    padding: 20px 15% 0 0;
                    font-size: 13px;
                }

                +mobile() {
                    font-size: 12px;
                    padding: 20px 10% 0 5%;
                }

                > p {
                    margin: 0 0 20px 0;

                    +below($tablet) {
                        margin: 0 0 15px 0;
                    }

                    > strong {
                        margin: 0 0 5px 0;
                        font-weight: 600;
                        color: $verdeEng;
                    }
                }

                > ul {
                    margin: 0 0 20px 0;
                    list-style-position: inside;
                    padding: 0;

                    +below($tablet) {
                        margin: 0 0 15px 0;
                    }

                    > li {
                        line-height: 1.2;

                        &::marker {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .imagem-mobile {
            +above($mobile) {
                display: none;
            }

            width: 80%;
            height: auto;
            margin: 15px auto;

            .img-servico {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }

    section.mais-infos {
        width: 100%;
        height: auto;
        background-color: $verdeClaro;
        margin: 80px 0;
        padding: 65px 0;

        +below($tablet) {
            margin: 50px 0;
            padding: 50px 0;
        }

        +mobile() {
            margin: 40px 0;
            padding: 40px 0;
        }

        .center {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;

            +mobile() {
                flex-direction: column;
                align-items: center;
            }

            .frase {
                montserrat(28, light);
                color: $verdeEng;
                margin: 0;
                width: 260px;
                text-align: end;

                +below($tablet) {
                    width: 22%;
                    font-size: 20px;
                }

                +mobile() {
                    width: 100%;
                    font-size: 16px;
                    text-align: center;
                }

                .img-seta {
                    width: auto;
                    height: auto;
                    margin-left: 5px;

                    +mobile() {
                        width: 16px;
                    }
                }
            }

            .form-servicos {
                display: flex;
                align-items: flex-start;
                justify-content: center;

                +below($tablet) {
                    width: 70%;
                }

                +mobile() {
                    width: 100%;
                    flex-direction: column;
                    margin-top: 15px;
                }

                .dados {
                    width: 300px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-right: 5px;

                    +below($tablet) {
                        width: 40%;
                    }

                    +mobile() {
                        width: 100%;
                    }

                    input[type=text], input[type=email] {
                        width: 100%;
                        height: 45px;
                        outline: 0;
                        border: 0;
                        padding: 0 20px;
                        margin-bottom: 5px;
                        background-color: #EAEEE7;
                        border: none;
                        border-radius: 0;
                        opensans(16);
                        color: $cinzaEscuro;
                        transition: 0.2s ease;

                        +below($tablet) {
                            height: 40px;
                            padding: 0 15px;
                            font-size: 13px;
                        }

                        +mobile() {
                            font-size: 12px;
                        }

                        +placeholder() {
                            opensans(16);
                            color: $cinzaEscuro;
                            transition: 0.2s ease;

                            +below($tablet) {
                                font-size: 13px;
                            }

                            +mobile() {
                                font-size: 12px;
                            }
                        }

                        &:hover, &:focus {
                            font-weight: 600;

                            +placeholder() {
                                font-weight: 600;
                            }
                        }
                    }
                }

                textarea {
                    width: 450px;
                    height: 145px;
                    background-color: #EAEEE7;
                    outline: 0;
                    border: 0;
                    padding: 20px;
                    resize: none;
                    margin: 0 5px 0 0;
                    opensans(16);
                    color: $cinzaEscuro;
                    transition: 0.2s ease;

                    +below($tablet) {
                        width: 50%;
                        height: 130px;
                        padding: 15px;
                        font-size: 13px;
                    }

                    +mobile() {
                        width: 100%;
                        font-size: 12px;
                    }

                    +placeholder() {
                        opensans(16);
                        color: $cinzaEscuro;
                        transition: 0.2s ease;

                        +below($tablet) {
                            font-size: 13px;
                        }

                        +mobile() {
                            font-size: 12px;
                        }
                    }

                    &:hover, &:focus {
                        font-weight: 600;

                        +placeholder() {
                            font-weight: 600;
                        }
                    }
                }

                button[type=submit] {
                    width: 70px;
                    height: 145px;
                    margin: 0;
                    outline: 0;
                    border: none;
                    background-color: #EAEEE7;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: transform 0.3s ease;

                    +below($tablet) {
                        width: 10%;
                        height: 130px;
                    }

                    +mobile() {
                        width: 100%;
                        height: 40px;
                        margin-top: 5px;
                    }

                    .img-enviar {
                        width: 23px;
                        height: auto;
                        transition: transform 0.3s ease;

                        +mobile() {
                            width: 22px;
                        }
                    }

                    &:hover {
                        .img-enviar {
                            transform: rotate(360deg) scale(1.2);
                        }
                    }
                }
            }
        }

        .flash {
            width: 1200px;
            height: 40px;
            margin: 20px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            opensans(12);
            color: #FFF;
            padding: 10px;
            border-radius: 0;
            text-align: center;

            +below($tablet) {
                width: 90%;
                margin: 10px auto;
            }

            &.flash-erro {
                border: none;
                background: $vermelhoError;
                color: #fff;
            }

            &.flash-sucesso {
                border: none;
                background: $verdeSuccess;
                color: #fff;
            }
        }
    }
}